@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* default setting for this asean UI (jgr)*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
}

body:before {
    position: absolute;
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(/images/background.png);
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
}

/* default setting for this asean UI (jgr) */

.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 1320px;     
    margin: 0 auto;       
    padding: 20px 24px;   
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.header img {
    height: 80px;
}

.title p {
    font-weight: bold;
    color: #0038A8;
}

.container-main {
    width: 100%;
}

.container-title {
    background-color: #0038A8;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.container-title p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: whitesmoke;

}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "card-1 card-2 card-3"
    "card-4 card-5 card-5"
    "card-6 card-5 card-5";
    gap: 10px;
}

.container-grid a {
    text-decoration: none;
}

.card {
    background: rgba(237, 237, 237, 0.1);
    min-height: 200px;
    border-radius: 30px;
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 20px;
}

.card:hover {
    transform: scale(1.01);
}

.cardcontent p {
    color: rgb(66, 66, 66);
    font-weight: bold;
}

