@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* default setting for this asean UI (jgr)*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
}

body:before {
    position: absolute;
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(/images/background.png);
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
}

/* default setting for this asean UI (jgr) */

.dashboard {
    font-family: 'Montserat',sans-serif;
    display: flex;
    width: 100%;
}

.header img {
    height: 100px;
}

