@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* default setting for this asean UI (jgr)*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
}

body:before {
    position: absolute;
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(/images/background.png);
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
}

/* default setting for this asean UI (jgr) */

.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 1320px;     
    margin: 0 auto;       
    padding: 15px 24px;   
    gap: 10px;
}

.dashboard img {
    height: 20px;
}

.phtime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


span#phDate{
    color: whitesmoke;
    padding-right: 20px;
    font-weight: bold;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.header img {
    height: 80px;
}

.title p {
    font-weight: bold;
    color: #0038A8;
}

.container-main {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.container-title {
    background: linear-gradient(
        to right,
        #0038A8,
        #1A5ED8
    );
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}


.container-title p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 20px;
    color: whitesmoke;

}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "card-1 card-2 card-3"
    "card-4 card-5 card-5"
    "card-6 card-5 card-5";
    gap: 5px;
}

.container-grid a {
    text-decoration: none;
}

.card {
    background: rgba(237, 237, 237, 0.1);
    min-height: 200px;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    height: 120px;
}

.cardcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2.h4 {
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    color: #CE1126;
}

p.content {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    color: rgb(40, 40, 40);
}

/* button */
.createButton {
    width: 200px;
    border: none;
    padding: 10px 20px;
    background-color: #0038A8;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.createButton:hover {
    transform: scale(1.04);
}

/* table properties */
.main-container,
.main {
  width: 100%;
  max-width: 100%;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 12px;
  background: #ffffff;
}

.dbtable {
  width: 100%;
  min-width: 900px; 
  border-collapse: collapse;
  background: #ffffff;
}

.dbtable thead {
  background-color: #f8fafc;
}

.dbtable th {
  text-align: left;
  padding: 14px 16px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #374151;
  border-bottom: 2px solid #e5e7eb;
  white-space: nowrap;
}

.dbtable td {
  padding: 14px 16px;
  font-size: 0.85rem;
  color: #1f2937;
  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
  white-space: nowrap;
}

.dbtable tr td:nth-last-child(-n+3) {
    padding: 2px 5px;
}


.dbtable tbody tr:hover {
  background-color: #f1f5f9;
}

/* FORMS */

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 1320px;     
    margin: 0 auto;       
    padding: 15px 10px; 
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 40px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.imt-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.form-row-one {
    display: flex;
    flex: 1;
    width: 100%;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-group label {
    font-weight: bold;
    color: #CE1126;
    font-size: 14px;
}

.form-group input {
    width: 400px;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 2px solid #0038A8;
}

.form-row-block input {
    width: 100%;
}

.upload-take-picture {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.openButton {
    border: none;
    padding: 10px 20px;
    border: 2px solid #0038A8;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    font-weight: bold;
    background-color: #CE1126;
    color: whitesmoke;
}

.openButton:first-child {
    background-color: #0038A8;
    color: whitesmoke;
}

.saveButton {
    display: flex;
    justify-content: center;
}

.saveButton button {
    width: 100%;
    border: none;
    padding: 10px 20px;
    border: 2px solid #0038A8;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    font-weight: bold;
    background-color: #FCD116;
    color: black;
}

img.td-icon {
    height: 20px;
}

/* ICON-ONLY BUTTON (DOWNLOAD) */
.icon-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon-btn:focus {
    outline: none;
}

/* icon size */
.icon-btn .td-icon {
    width: 20px;
    height: 20px;
}

/* hover effect */
.icon-btn:hover .td-icon {
    opacity: 0.7;
}

.modal-overlay {
    background-color: rgb(233, 233, 233);
    padding: 10px 25px;
    border-radius: 30px;
    border: 4px solid #0038A8;
    width: 380px;
}

.modal-overlay #cameraSelect {
    border: none;
    border-radius: 10px;
    color: #0038A8;
    font-weight: bold;
}

#video {
    border-radius: 10px;
    border: 3px solid #CE1126;
    padding: 0px;
}

.modal-overlay button {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #CE1126;
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
}

.modal-overlay .captureButton {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #0038A8;
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
}

.custom-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.custom-modal-content {
    background: #fff;
    padding: 25px;
    width: 380px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #0038A8;

}

.custom-modal-content h3 {
    color: #0038A8;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-modal-content button {
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    background-color: #0038A8;
    color: white;
    border-radius: 10px;
}

.custom-modal-content p {
    color: #CE1126;
    font-weight: bold;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-actions button {
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    background-color: #0038A8;
    color: white;
    border-radius: 10px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

img#photoPreview {
    display: flex;
    justify-content: center;
}

/* auto capitalized */
.imt-form input[type="text"] {
    text-transform: uppercase;
}


/* Weather Card */

.enroll-id-dashboard {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.table-wrapper-log {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

.dbtable-log {
  width: 100%;
  min-width: 900px; 
  border-collapse: collapse;
}

.dbtable-log th {
  text-align: left;
  padding: 14px 16px;
  font-size: 0.85rem;
  font-weight: 800;
  white-space: nowrap;
}

.dbtable-log td {
  padding: 14px 16px;
  margin-bottom: 10px;
  font-size: 0.85rem;   
  vertical-align: middle;
  white-space: nowrap;
}

.dbtable-log tr td:nth-last-child(-n+3) {
    padding: 8px 16px;
}







